# ~/.config/nvim/.env.example

GITHUB_TOKEN=
GITHUB_USER=
GITHUB_PINNED_REPOS_MAX=2
GITHUB_REPO_DESC_MAX_LEN=40

CACHE_ENABLED=true
CACHE_TTL_SECONDS=86400

GIT_CONTRIB_START_WEEK=1
GIT_CONTRIB_END_WEEK=53
GIT_CONTRIB_EMPTY_CHAR=" "
GIT_CONTRIB_FULL_CHAR="󰧞 ● ● "

FORCE_BLANK_AVATAR=false

CURSOR_POS_ROW=17
CURSOR_POS_COL=46

HL_HEADER=function
HL_GIT_URL=ProfileRed
HL_BY_LINE=ProfileBlue
HL_CARD_BORDER=ProfileYellow
HL_CARD_TEXT=ProfileYellow

OPEN_PROFILE_KEY=<leader>p

JDTLS_OS_CONFIG=linux        # linux | mac | win
JDTLS_MAX_HEAP=4g
